body{
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    font-size: 1.5em;
    background-image: url(69.jpg);
    margin: 0rem;
    z-index: -200;
    color: black;
    
   
   
}
.light{
    /* background-color: rgb(55, 55, 59); */
    width: 100%;
    height: 100%;
    z-index: -100;
    position: fixed;
    
}
.header{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    z-index: 100;
    color:black;
    

}
option{
    font-size: 1.2rem;
    color: gray;
}   
p{
    text-align: left;
    z-index: 100;
}
::placeholder {
    color: gray;
    font-size: 1em;
  }


.container{
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 20px;
}

#survey-form{
    background: #0222414d;
    /* background-color:rgba(0, 0, 0, 0.431); */
    margin: 30px;
    padding: 40px;
    z-index: 100;
   
}
.label{
    display: block;
    text-align: left;


    
}
.form-control{
    width: 100%;
    display: block;
    height: 2.4rem;
    margin: 10px auto;
    border: 1px solid;
    border-radius: 0.25rem;
}
input, select, textarea {
    font-size: 80%;
    } 
#input-textarea{
    width: 100%;
    min-height: 120px;
    resize: vertical;
    margin: 15px auto;
}
.submit-button{
    width: 100%;
    min-height: 2.2rem;
    border-radius: 0.25rem;
    background-color:#37af65;
    color: white;
    font-size: 1.5rem;
    
}
@media(max-width:40rem){
    .container{
        width: 100vw;
        padding: 0rem;
        font-size: 1.3rem;
    }
    #survey-form{
        padding: 0.7rem;
    }
    
}
